* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    place-items: center;
}

h1 {
    font-size: 3.6rem;
    padding: .4rem;
    color: rgb(218,180, 81);
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5rem;
}

.divider {
    width: 150px;
    border-bottom: 1px solid rgb(218,180, 81);
    border-top: 1px solid rgb(218,180, 81);
    margin-bottom: 1em;
}

h5 {
    font-size: 1.2rem;
    padding: .15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

h3 {
    font-size: 1.5rem;
    padding: .5rem;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
}

p {
    font-size: 18px;
    color: rgb(18, 44, 79);
    padding: .25em;
    text-align: center;
}

.goldBorder {
    border: 2px solid rgb(218,180,81);
    display:grid;
    place-items: center;
}

.blueBorder {
    border: 1.5px solid rgb(18,44,79);
    margin: 3.5px;
    display:grid;
    place-items: center;
    padding:.75rem;
    min-height: 450px;
    width: 500px;
}

.row1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    margin: 2rem;
    column-gap: 30px;
}

.goldBorderThick {
    border: 8px solid rgb(218,180,81);
    display:grid;
    place-items: center;
    transition-duration: .4s;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.row1col2 {
    display: grid;
    place-items: center;
}

.row1col2Container {
    display: grid;
    place-items: start;
    width: 100%;
    max-width: 600px;
}

.bookImg {
    display:grid;
    place-items: end;
    padding: 1rem;
}


.rsvpSection {
    display:grid;
    place-items: center;
}

.submitBTN {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    background-color: rgb(218,180, 81);
    border: 2px solid rgb(218, 180, 81);
    transition-duration: .4s;
    padding: 10px 25px;
}

.submitBTN:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    background-color: transparent;
}

.inputMargin {
    margin: 8px 5px;
}

.inputPadding {
    padding: 3px 8px;
}

.lineHeight {
    line-height: 30px;
}

.paddingLeft {
    padding-left: 15px;
}

.paddingRightSm {
    padding-right: 5px;
}

.formWidth {
    width: 95%;
}

label {
    color:rgb(18, 44, 79);
}

input, textarea {
    color: rgb(18, 44, 79);
    border: 2px solid rgb(18, 44, 79);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.center {
    display: grid;
    place-items: center;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 8px;
    margin: 0px 0px 10px 0px;
}

.smMargin {
    margin: 2.5px;
}

.bottomMargin {
    margin-bottom: 15px;
}

.smBlueBorder {
    border: 2px solid rgb(18, 44, 79);
}

.medium {
    width: 750px;
}

form {
    width: 440px;
}

.font14 {
    font-size: 14px;
}