* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Sections and Containers */

.container {
    display: grid;
    width: 100%;
    place-items: center;
}

.excerptDiv {
    display: grid;
    place-items: center;
    column-gap: 20px;
    width: 80%;
    grid-template-columns: auto 1fr;
}

.column1 {
    display: grid;
    place-items: start;
    background-color: rgb(218,180, 81);
    padding: 20px 20px;
    border-radius: 5px;

}

.column2 {
    display: grid;
    place-items: center;
    background-color: rgb(18, 44, 79);
    padding: 20px 20px;
    border-radius: 5px;
    height: 600px;
    min-width: 400px;
}

.diagramDiv {
    display: grid;
    place-items: center;
    width: 100%;
}

.firstLook {
    background-color: rgb(18, 44, 79);
    padding: 2.5rem 2.5rem 3.5rem 2.5rem;
}

.secondLook {
    background-color: rgb(218, 180, 81);
    padding: 2.5rem;
}

.nine {
    display: grid;
    place-items: center;
    width: 85%;
    height: 220px;
    grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr auto;
    column-gap: 4px;
}

.ninePlus {
    display: grid;
    place-items: center;
    width: 85%;
    height: 320px;
    grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr auto;
    column-gap: 4px;
    animation-name: addHeight;
    animation-duration: 1s;
}

.step2 {
    display:grid;
    place-items: center;
}

.tripleCol {
    display: none;
}

.dual {
    display:grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

/* Headings */

h1 {
    font-size: 3.6rem;
    padding: .4rem;
    color: rgb(218,180, 81);
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5rem;
}

h2 {
    font-size: 2.4rem;
    padding: .4rem .4rem 1.4rem .4rem;
    color: rgb(218,180, 81);
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 1.5rem;
    padding: .5rem;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    transition-duration: .5s;
}

h3:hover {
    text-decoration: underline;
}

h4 {
    text-align: center;
    font-weight: lighter;
}

h6 {
    font-size: 1.2rem;
    padding: .5rem;
    font-style: italic;
}

/* Dividers */

.divider {
    width: 150px;
    border-bottom: 1px solid rgb(218,180, 81);
    border-top: 1px solid rgb(218,180, 81);
    margin-bottom: 1em;
}

.dividerBlue {
    width: 150px;
    border-bottom: 1px solid rgb(18, 44, 79);
    border-top: 1px solid rgb(18, 44, 79);
    margin-bottom: 1em;
}

/* Borders */

.goldDiagramBorder {
    border: 3px solid rgb(218, 180, 81);
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

.blueDiagramBorder {
    border: 3px solid rgb(18, 44, 79);
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.blueDiagramBorderSm {
    border: 2px solid rgb(18, 44, 79);
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
}

/* CSS Motion */

.rotateDown {
    transform: rotate(45deg);
    animation-name: rotateD;
    animation-duration: 1s;
}

.rotateUp {
    transform: rotate(-45deg);
    animation-name: rotateU;
    animation-duration: 1s;
}

.start {
    margin-bottom: 90px;
    animation-name: up;
    animation-duration: 1s;
}

.end {
    margin-top: 90px;
    animation-name: down;
    animation-duration: 1s;
}

#clip {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    color: rgb(18, 44, 79);
}

.selected {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.hidden890 {
    display: none;
}

.display545 {
    display: none;
}

/* Fonts (Weight, Colors, Style) */

.bold {
    font-weight: bold;
}

.blue {
    color: rgb(18, 44, 79);
}

/* HTML Elements */
p {
    margin-bottom: 10px;
    font-size: 15.5px;
}

/* Keyframes */

@keyframes addHeight {
    0% {
        height: 220px;
    }
    10% {
        height: 230px;
    }
    20% {
        height: 240px;
    }
    30% {
        height: 250px;
    }
    40% {
        height: 260px;
    }
    50% {
        height: 270px;
    }
    60% {
        height: 280px;
    }
    70% {
        height: 290px;
    }
    80% {
        height: 300px;
    }
    90% {
        height: 310px;
    }
    100% {
        height: 320px;
    }
}

@keyframes rotateU {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(-15deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(-25deg);
    }
    60% {
        transform: rotate(-30deg);
    }
    70% {
        transform: rotate(-35deg);
    }
    80% {
        transform: rotate(-40deg);
    }
    90% {
        transform: rotate(-45deg);
    }
}

@keyframes rotateD {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(25deg);
    }
    60% {
        transform: rotate(30deg);
    }
    70% {
        transform: rotate(35deg);
    }
    80% {
        transform: rotate(40deg);
    }
    90% {
        transform: rotate(45deg);
    }
}

@keyframes up {
    0% {
        margin-bottom: 0px;
    }
    10% {
        margin-bottom: 10px;
    }
    20% {
        margin-bottom: 20px;
    }
    30% {
        margin-bottom: 30px;
    }
    40% {
        margin-bottom: 40px;
    }
    50% {
        margin-bottom: 50px;
    }
    60% {
        margin-bottom: 60px;
    }
    70% {
        margin-bottom: 70px;
    }
    80% {
        margin-bottom: 80px;
    }
    90% {
        margin-bottom: 90px;
    }
}

@keyframes down {
    0% {
        margin-top: 0px;
    }
    10% {
        margin-top: 10px;
    }
    20% {
        margin-top: 20px;
    }
    30% {
        margin-top: 30px;
    }
    40% {
        margin-top: 40px;
    }
    50% {
        margin-top: 50px;
    }
    60% {
        margin-top: 60px;
    }
    70% {
        margin-top: 70px;
    }
    80% {
        margin-top: 80px;
    }
    90% {
        margin-top: 90px;
    }
}

@media only screen and (max-width:1590px) {

    h3 {
        font-size: 1.3rem;
        padding: .5rem .25rem;
    }
}

@media only screen and (max-width:1460px) {

    h3 {
        font-size: 1.25rem;
    }

    .excerptDiv {
        width: 90%;
    }

    .ninePlus {
        width: 94%;
    }

    .nine {
        width: 94%;
    }

    .secondLook {
        padding: 2.5rem 1.5rem;
    }
}

@media only screen and (max-width:1275px) {

    .column1 {
        padding: 20px 10px;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 15px;
    }
}

@media only screen and (max-width:1220px) {

    p {
        font-size: 15px;
    }

    h6 {
        font-size: 1.1rem;
    }

    #clip {
        padding: 10px;
    }
}

@media only screen and (max-width:1170px) {

    p {
        font-size: 14.5px;
    }

    h6 {
        font-size: 1rem;
    }

    .excerptDiv {
        width: 94%;
    }

    h4 {
        font-size: 14.25px;
    }

}

@media only screen and (max-width:1120px) {

    p {
        font-size: 14px;
    }

    .excerptDiv {
        width: 96%;
    }

    h4 {
        font-size: 13.5px;
    }

    .ninePlus {
        width: 100%;
    }

    .nine {
        width: 100%;
    }

    h3 {
        font-size: 17.5px;
        line-height: 30px;
    }

    .column2 {
        height: 500px;
    }

}

@media only screen and (max-width:1060px) {

    p {
        font-size: 13.75px;
    }

    .excerptDiv {
        width: 98%;
    }

    h4 {
        font-size: 13px;
    }

    h3 {
        font-size: 17px;
    }

    h6 {
        font-size: 15px;
    }

}

@media only screen and (max-width:1020px) {
 
    .column1 {
        max-width: 350px;
    }

    h3 {
        font-size: 15px;
        line-height: 26px;
    }

    .column2 {
        height: 538px;
    }

    .secondLook {
        padding: 2.5rem 1rem;
    }

    .firstLook {
        padding: 2.5rem 2rem;
    }

    .goldDiagramBorder {
        padding: 15px 10px;
    }

}

@media only screen and (max-width:975px) {

    h4 {
        font-size: 12px;
    }

    .blueDiagramBorder {
        padding: 6px;
    }

    .nine {
        column-gap: 2px;
    }

    .ninePlus {
        column-gap: 2px;
    }

    .secondLook {
        padding: 2.5rem .75rem;
    }

    p {
        font-size: 14.5px;
    }

}

@media only screen and (max-width:890px) {

    .nine {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 4px;
        height: 650px;
    }

    .rotateDown {
        transform: rotate(90deg);
        animation: none;
    }

    .rotateUp {
        transform: rotate(90deg);
        animation: none;
    }

    .ninetydeg {
        transform: rotate(90deg);
    }

    .start {
        margin-bottom: 0px;
        animation-name: none;
    }
    
    .end {
        margin-top: 0px;
        animation: none;
    }

    .blueDiagramBorder {
        padding: 15px;
        width: 450px;
    }

    .goldDiagramBorder {
        padding: 15px;
        width: 350px;
    }

    h4 {
        font-size: 17px;
        padding: .3rem;
    }

    #secondNoHover {
        display: none;
    }

    #secondHover {
        display: none;
    }

    .hidden890 {
        display: grid;
        place-items: center;
        row-gap: 10px;
        height: 768px;
    }

    .dual {
        grid-template-columns: 1fr auto;
        column-gap: 10px;
    }

    .doubleDual {
        display: grid;
        place-items: center;
        grid-template-columns: auto 1fr;
        column-gap: 10px;
        row-gap: 5px;
    }

    .blueDiagramBorderSm {
        width: 190px;
    }

}

@media only screen and (max-width:800px) {

    .excerptDiv {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
        width: 80%;
    }

    .column1 {
        max-width: 100%;
        width: 100%;
    }

    p {
        font-size: 16px;
    }

    .column2 {
        height: 500px;
    }

    h3 {
        font-size: 18px;
        line-height: 30px;
    }

    h6 {
        font-size: 16px;
    }

}

@media only screen and (max-width:730px) {

    .blueDiagramBorder {
        padding: 15px 5px;
        width: 390px;
    }

    .excerptDiv {
        width: 85%;
    }

    h4 {
        font-size: 16.5px;
        padding: .2rem;
    }

    .firstLook {
        padding: 2.5rem .75rem;
    }

    h3 {
        font-size: 17px;
    }

}

@media only screen and (max-width:680px) {

    .blueDiagramBorder {
        padding: 15px 5px;
        width: 350px;
    }

    .blueDiagramBorderSm {
        padding: 5px 2px;
        width: 170px;
    }

    h1 {
        font-size: 3rem;
    }

    h4 {
        font-size: 15px;
        padding: .2rem 0rem;
    }

    h3 {
        font-size: 16px;
    }

    h2 {
        font-size: 34px;
    }

    p {
        font-size: 15px;
    }

}

@media only screen and (max-width:630px) {

    .excerptDiv {
        width: 90%;
    }

}

@media only screen and (max-width:610px) {

    .borderWidthSpecial {
        padding: 15px 5px;
        width: 305px;
    }

    p {
        font-size: 14px;
    }

    .excerptDiv {
        width: 94%;
    }

}

@media only screen and (max-width:570px) {

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
        line-height: 23px;
    }

    .excerptDiv {
        grid-template-rows: auto auto;
        row-gap: 15px;
    }

    .dual {
        column-gap: 3px;
    }

    .doubleDual {
        column-gap: 3px;
    }

    .borderWidthSpecial {
        padding: 15px 2px;
        width: 300px;
    }

}

@media only screen and (max-width:545px) {

    .step2 {
        display: none;
    }

    .tripleCol {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr auto 1fr;
        width: 100%;
        column-gap: 12px;
    }

    .col3 {
        display: grid;
        place-items: center;
        row-gap: 3px;
    }

    .col1 {
        display: grid;
        place-items: center;
        row-gap: 3px;
    }

    .hide545 {
        display: none;
    }

    .display545 {
        display: grid;
        place-items: center;
    }

    .fifteenDeg {
        transform: rotate(-20deg);
    }

    .negFifteenDeg {
        transform: rotate(20deg);
    }

    h3 {
        font-size: 14.25px;
    }
}

@media only screen and (max-width:510px) {

    h3 {
        font-size: 19px;
        text-align: center;
    }

    h2 {
        padding: 0rem 0rem 1.3rem 0rem;
        font-size: 26px;
    }

    .column2 {
        padding: 12px;
    }
}

@media only screen and (max-width:450px) {

    .column2 {
        height: 530px;
        min-width: 280px;
    }

    .blueDiagramBorderSm {
        padding: 5px 2px;
        width: 160px;
    }

    p {
        font-size: 13px;
    }

    h6 {
        font-size: 13.75px;
    }

    h2 {
        font-size: 23px;
    }

    .tripleCol {
        column-gap: 8px;
    }
}

@media only screen and (max-width:420px) {

    .blueDiagramBorderSm {
        width: 100px;
    }

}

@media only screen and (max-width:400px) {

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 21px;
    }

    h3 { 
        font-size: 17px;
    }

    h4 {
        font-size: 14px;
    }

    .column2 {
        height: 550px;
        padding: 10px;
    }

    .blueDiagramBorder {
        width: 325px;
    }

    .goldDiagramBorder {
        width: 325px;
    }

}

@media only screen and (max-width:370px) {

    .firstLook {
        padding: 2.5rem 0rem;
    }

    .secondLook {
        padding: 2.5rem 0rem;
    }

    .blueDiagramBorder {
        width: 315px;
        padding: 15px 2px;
    }

    .goldDiagramBorder {
        width: 315px;
    }
}