* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background: radial-gradient(circle, rgba(248,249,241,1) 0%, rgba(236,236,228,1) 35%, rgba(198,211,227,1) 70%);
}

/* Main Section Containers, Columns, Rows etc. */

.container {
    display: grid;
    margin: 1em;
    width: 100%;
    min-height: 100vh;
    place-items: center;
    grid-template-rows: auto auto auto;
}

.row1 {
    display: grid;
    margin: 1em;
    width: 80%;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.display975 {
    display: none;
}

.row1col2 {
    display: grid;
    place-items: center;
}

.row1col2Container {
    display: grid;
    place-items: start;
    width: 100%;
    max-width: 600px;
}

.alphaOmega {
    background-color: rgb(18, 44, 79);
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr;
    padding: .5em 15em;
}

.alpha {
    display: grid;
    place-items: end;
    width:100%;
}

.omega {
    display: grid;
    place-items: start;
    width: 100%;
    padding-top: 3px;
}

.row2 {
    display: grid;
    padding: 2.5em 15em;
    width: 100%;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    background-color: rgb(218, 180, 81);
}

.row3 {
    display: grid;
    margin: 2.5em 0em .5em 0em;
    width: 80%;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.internalNav {
    display: grid;
    place-items: center;
}

.reviewDiv {
    width:420px;
    height: 420px;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto auto;
    padding-bottom: 40px;
}

.eventDiv {
    width:420px;
    height: 420px;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto auto;
    padding-bottom: 40px;
    text-align: center;
}

.h2display975 {
    display: none;
}

/* Image Containers and Widths */

.bookImg {
    display:grid;
    place-items: center;
    padding: 1rem;
}

.portraitCircle {
    border-radius: 100%;
    width:420px;
    height: 420px;
    object-fit: cover;
    object-position: center top;
    border: 14px solid rgba(18,44,79);
}

/* Heading Sizes, Fonts and Colors */

h2 {
    font-size: 1.2rem;
    padding: .15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: rgb(18, 44, 79);
}

h4 {
    font-size: 2rem;
    padding: .3rem;
    color:rgb(18, 44, 79)
}

.h5special {
    font-size: 17px;
    padding: .15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h6 {
    font-size: 1.1rem;
    padding: .15rem;
    color:rgb(18, 44, 79)
}

/* Font Sizes, Families, Colors and Decoration */

p {
    font-size: 18px;
    color: rgb(18, 44, 79);
    padding: .75em;
}

.plain {
    text-decoration: none;
}

.font20 {
    font-size: 20px;
}

.font20e {
    font-size: 20px;
}

.font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blue {
    color: rgb(18,44,79);
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blueText {
    color:rgb(18, 44, 79);
}

.times {
    font-family:'Times New Roman', serif;
    font-size: 1.35rem;
}

.divider975 {
    display: none;
}

/* CSS Class that ties to JS function */

.none {
    display: none;
}

/* Spacing Classes */

.padding20 {
    padding: 20px;
}

.margin20 {
    margin: 20px 0px;
}

.marginVar {
    margin: 20px 0px;
}

.heightMatch {
    height: 190px;
}

/* Borders */

.goldBorder {
    border: 2px solid rgb(218,180,81);
    display:grid;
    place-items: center;
}

.goldBorderThick {
    border: 4px solid rgb(218,180,81);
    display:grid;
    place-items: center;
    transition-duration: .4s;
}

.goldBorderThick:hover {
    border: 4px solid rgb(18,44,79);
}

.goldBorderSpecial {
    border: 2px solid rgb(218,180,81);
    display:grid;
    place-items: center;
    transition-duration: .5s;
    transition-delay: .5s;
}

.goldBorderSpecial:hover {
    border: 2px solid rgb(18,44,79);
}

.blueBorder {
    border: 1.5px solid rgb(18,44,79);
    margin: 3.5px;
    display:grid;
    place-items: start;
}

.blueBorderCenter {
    border: 1.5px solid rgb(18,44,79);
    margin: 3.5px;
    display:grid;
    place-items: center;
}

.blueBorderSpecial {
    border: 1.5px solid rgb(18,44,79);
    margin: 3.5px;
    display:grid;
    place-items: center;
    transition-duration: .5s;
}

.blueBorderSpecial:hover {
    border: 5px solid rgb(218,180,81);
    margin: 0px;
}

@media only screen and (max-width:1600px) {

    .row3 {
        width: 90%;
    }
}

@media only screen and (max-width:1460px) {

    .row1 {
        width: 88%;
    }

    .row3 {
        width: 100%;
        padding: 0rem 1rem;
    }

    .row2 {
        padding: 2.5em 10em;
    }
}

@media only screen and (max-width:1380px) {

    .row1 {
        width: 90%;
    }

    .row3 {
        padding: 0rem .5rem;
        column-gap: 5px;
    }

    .row2 {
        padding: 2.5em 8em;
    }

    .portraitCircle {
        width:400px;
        height: 400px;
    }

    .marginVar {
        margin-top: 40px;
    }
}

@media only screen and (max-width:1315px) {

    .row3 {
        grid-template-columns: 1fr auto 1fr;
    }

    .row2 {
        padding: 2.5em 7em;
    }

    .portraitCircle {
        width:380px;
        height: 380px;
    }

    .reviewDiv {
        width: 400px;
    }

    .margin20 {
        margin-top: 0px;
    }

    .eventDiv {
        width: 400px;
    }

    p {
        padding: .65rem;
    }

    h6 {
        font-size: 15px;
    }
}

@media only screen and (max-width:1265px) {

    .font20e {
        font-size: 18px;
    }

    .eventDiv {
        width: 360px;
    }

    .reviewDiv {
        width: 360px;
    }
}

@media only screen and (max-width:1180px) {

    .font20e {
        font-size: 17px;
    }

    .eventDiv {
        width: 350px;
    }

    .reviewDiv {
        width: 350px;
    }

    .portraitCircle {
        margin-top: 15px;
        width:350px;
        height: 350px;
    }

    .marginVar {
        margin-top: 55px;
    }

    .row2 {
        padding: 2.5em 3em;
    }

    .row1 {
        width: 96%;
        column-gap: .85rem;
        row-gap: .85rem;
        margin: 1em 0em;
    }

    .alphaOmega {
        padding: .5em 10em;
    }

    .bookImg {
        padding: 0rem;
    }

    .heightMatch {
        height: 175px;
    }

}

@media only screen and (max-width:1125px) {

    .row2 {
        padding: 2.5em 1.5em;
    }

    .font20 {
        font-size: 18px;
    }

    h4 {
        font-size: 30px;
    }

    .font20e {
        font-size: 16px;
    }

    .eventDiv {
        width: 330px;
    }

    .reviewDiv {
        width: 330px;
    }

    .portraitCircle {
        width:340px;
        height: 340px;
    }

    .marginVar {
        margin-top: 65px;
    }

    h6 {
        font-size: 14px;
    }
}

@media only screen and (max-width:1080px) {

    .alphaOmega {
        padding: .5em 8em;
    }

    .eventDiv {
        width: 315px;
    }

    .reviewDiv {
        width: 315px;
    }

    .row2 {
        padding: 2.5em 1em;
    }

    .row3 {
        column-gap: 0px;
    }
}

@media only screen and (max-width:1035px) {

    .portraitCircle {
        border: 10px solid rgba(18,44,79);
        width: 325px;
        height: 325px;
    }

    .font20 {
        font-size: 17px;
    }

    h6 {
        font-size: 13.25px;
    }

    .eventDiv {
        width: 300px;
    }

    .reviewDiv {
        width: 300px;
    }

    .alphaOmega {
        padding: .5em 6.5em;
    }

    .row2 {
        padding: 2.5em .25em;
    }

    .marginVar {
        margin-top: 80px;
    }

}

@media only screen and (max-width: 990px) {

    .font20 {
        font-size: 16.5px;
    }

    p {
        padding: .5rem;
    }

    .blueBorderCenter {
        margin: 1px;
    }
    
    .eventDiv {
        width: 290px;
    }

    .reviewDiv {
        width: 290px;
    }

}

@media only screen and (max-width: 975px) {

    .container {
        margin: 1em 0em;
    }

    .row3 {
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        row-gap: 0px;
        width: 90%;
        margin-top: .8em;
    }

    .eventDiv {
        width: 80%;
        padding-bottom: 20px;
        height: 400px;
    }

    .reviewDiv {
        width: 80%;
        padding-bottom: 20px;
        height: 400px;
    }

    .row2 {
        padding: 2.5em 8.5em;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    .font20 {
        font-size: 20px;
    }

    p {
        padding: .75em;
    }

    .font20e {
        font-size: 20px;
    }

    .row1 {
        display: grid;
        margin: 1em 1em 2em 1em;
        width: 80%;
        place-items: center;
        grid-template-rows: auto auto auto;
        grid-template-columns: none;
        row-gap: 15px;
    }

    .hide975 {
        display: none;
    }

    .display975 {
        display: grid;
        place-items: center;
    }

    .margin20 {
        margin-top: 20px;
    }

    .divider975 {
        display: grid;
        place-items: center;
        width: 100%;
        border-bottom: 1px solid rgb(218,180, 81);
        border-top: 1px solid rgb(218,180, 81);
        margin: 1.5em 0em 1em 0em;
    }

    .internalNav {
        width: 100%;
    }

    .portraitCircle {
        width:420px;
        height: 420px;
        border: 14px solid rgba(18,44,79);
    }

    .margin20 {
        margin: 0px;
    }

    .marginVar {
        margin: 20px 0px 0px 0px;
    }

    h6 {
        font-size: 1.1rem;
    }

    .h2hide975 {
        display: none;
    }

    .h2display975 {
        display: grid;
        place-items: center;
    }

    .alphaOmega {
        padding: .5em 5em;
    }

}

@media only screen and (max-width: 850px) {

    .alphaOmega {
        padding: .5em 3.75em;
    }

    .font20 {
        font-size: 19px;
    }

    .font20e {
        font-size: 18px;
    }

    .width2 {
        width: 520px;
    }

    .h5special {
        font-size: 16px;
    }

    .eventDiv {
        height: 360px;
    }

    .reviewDiv {
        height: 360px;
    }
}

@media only screen and (max-width: 740px) {

    .alphaOmega {
        padding: .5em 2em;
    }

    .font20 {
        font-size: 18px;
    }

    .row1 {
        width: 88%;
    }

    .row2 {
        padding: 2.5em 6.5em;
    }

    .width2 {
        width: 490px;
    }

    .eventDiv {
        width: 90%;
    }

    .reviewDiv {
        width: 90%;
    }

}

@media only screen and (max-width: 665px) {

    .times {
        letter-spacing: 1.1px;
    }

    .row1 {
        width: 94%;
        margin: 1em 0em;
    }

    .row3 {
        width: 94%;
    }

    .row2 {
        padding: 2.5em 4em;
    }

    .width2 {
        width: 460px;
    }

    .h5special {
        font-size: 15px;
    }

    .font20 {
        font-size: 17px;
    }

    .font20e {
        font-size: 17px;
    }

}

@media only screen and (max-width: 600px) {

    .width2 {
        width: 400px;
    }

    .h5special {
        font-size: 14px;
    }

    .row2 {
        padding: 2.5em 2.5em;
    }

    h2 {
        font-size: 18px;
    }

    .times {
        font-size: 19.5px;
    }

    .omega {
        padding-top: 0px;
    }

}

@media only screen and (max-width: 530px) {

    .row2 {
        padding: 2.5em 1.5em;
    }

    .width2 {
        width: 380px;
    }

    .h5special {
        font-size: 13px;
    }

    .portraitCircle {
        width:400px;
        height: 400px;
    }

    .eventDiv {
        width: 95%;
    }

    .reviewDiv {
        width: 95%;
    }

    h2 {
        font-size: 17.5px;
    }

}

@media only screen and (max-width: 500px) {

    .padding20 {
        padding: 15px 20px;
    }

    .row1 {
        width: 96%;
    }

    .row3 {
        width: 96%;
    }

    .row2 {
        padding: 2.5em 1em;
    }

    .font20 {
        font-size: 16px;
    }

    .font20e {
        font-size: 16px;
    }

    p {
        padding: .75rem .4rem;
    }

    .heightMatch {
        height: 135px;
    }

    .width2 {
        width: 440px;
    }

    .h5special {
        font-size: 15px;
    }

    h2 {
        font-size: 17px;
    }

    .times {
        font-size: 18.5px;
    }

    .eventDiv {
        height: 325px;
    }

    .portraitCircle {
        width: 370px;
        height: 370px;
    }

    .alphaOmega {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        padding: .5em 0em;
    }

    .alpha {
        place-items: center;
    }

    .omega {
        place-items: center;
    }
}

@media only screen and (max-width: 470px) {

    .h2display975 {
        display: none;
    }

    .h2hide975 {
        display: grid;
        place-items: center;
    }

    .width2 {
        width: 400px;
    }

    h6 {
        font-size: 15px;
    }

}

@media only screen and (max-width: 440px) {

    .row2 {
        padding: 2.5em .5em;
        column-gap: 6px;
        row-gap: 6px;
    }    

    .portraitCircle {
        width: 350px;
        height: 350px;
    }

    .width2 {
        width: 320px;
    }

    .h5special {
        font-size: 14px;
    }

    h6 {
        font-size: 14px;
    }

    .width2 {
        width: 360px;
    }

}

@media only screen and (max-width: 400px) {

    .width2 {
        width: 340px;
    }

    .portraitCircle {
        width: 340px;
        height: 340px;
        border: 10px solid rgb(18,44,79);
    }

    .row2 {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 2.5rem 3.5rem;
    }

    h6 {
        font-size: 13px;
    }

}

@media only screen and (max-width: 380px) {

    .font20 {
        font-size: 15px;
    }

    .row2 {
        padding: 1rem 3.5rem;
    }

    h6 {
        font-size: 12.5px;
    }

    .portraitCircle {
        width: 315px;
        height: 315px;
    }

    .row3 {
        padding: 0px;
    }

    .width2 {
        width: 320px;
    }
}

@media only screen and (max-width: 360px) {
    
    .width2 {
        width: 310px;
    }
}