* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background: radial-gradient(circle, rgba(248,249,241,1) 0%, rgba(236,236,228,1) 35%, rgba(198,211,227,1) 70%);
}

nav {
    padding: .5em;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto;
    border-bottom: 4px solid rgb(218,180,81);
    background-color: rgb(18, 44, 79);
}

.justifyLeft {
    justify-self: start;
}

.justifyCenter {
    justify-self: center;
}

.border {
    width: 650px;
}

.storm {
    display: grid;
    place-items: center;
}

img {
    width: 580px;
}

h1 {
    font-size: 4rem;
    padding: .5rem;
}

h2 {
    font-size: 3rem;
    padding: .5rem;
}

h3 {
    font-size: 2.5rem;
    padding: .5rem;
}

h4 {
    font-size: 2rem;
    padding: .3rem;
}

h5 {
    font-size: 1.2rem;
    padding: .15rem;
    font-family: 'Montserrat', sans-serif;
}

.font18 {
    font-size: 18px;
}

.mont {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gold {
    color: rgb(218,180,81);
}

.blue {
    color: rgb(18,44,79);
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bold {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
}

.bookImg {
    display:grid;
    place-items: center;
    padding: 1rem;
}

.none {
    display: none;
}

.container {
    display: grid;
    margin: 1em;
    width: 100%;
    place-items: center;
    grid-template-rows: auto auto auto;
}

.row1 {
    display: grid;
    padding: 0em 8em;
    margin: 1em;
    width: 100%;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.plain {
    text-decoration: none;
}

.goldBorder {
    border: 2px solid rgb(218,180,81);
    display:grid;
    place-items: center;
    margin: 2em;
    max-width: 650px;
}

.blueBorder {
    border: 1.5px solid rgb(18,44,79);
    margin: 3.5px;
    display:grid;
    place-items: center;
    min-height: 125px;
}

p {
    font-size: 18px;
    color: rgb(18, 44, 79);
    padding: .75em;
}

.row2 {
    display: grid;
    padding: 1em 12em;
    width: 100%;
    place-items: center;
}

.row3 {
    display: grid;
    margin: 0em;
    padding: 0em 12em;
    width: 100%;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
