* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background: radial-gradient(circle, rgba(248,249,241,1) 0%, rgba(236,236,228,1) 35%, rgba(198,211,227,1) 70%);
}

nav {
    padding: .5em;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 6fr 1fr 1fr 1fr auto;
    border-bottom: 2px solid rgb(153,129,0);
}

.audioDiv {
    display: grid;
    place-items: center;
}

.audio {
    padding:.25em;
}

.audioOff {
    padding:.25em;
}

.justifyLeft {
    justify-self: start;
}

.justifyCenter {
    justify-self: center;
}

.border {
    width: 650px;
}

.storm {
    display: grid;
    place-items: center;
}

img {
    width: 580px;
}

/* .delete {
    animation-name: delete1;
    animation-delay: 10s;
    animation-duration: 20s;
    font-size: 1.5rem;
}

@keyframes delete1 {
    0% {
        font-size: 1.5rem;
    }
    1% {
        font-size: .001rem;
    }
    100% {
        font-size: .001rem;
    }
} */

/* @keyframes storm {
    from {
        background-position-y:-16rem;
        background-position-x:-1.5rem;
    }
    to {
        background-position-y: -22rem;
        background-position-x: 0rem;
    }
} */

/* @keyframes intro {
    0% {color:transparent;}
    50% {color: rgba(235, 230, 230, .7);}
    100% {color:transparent;}
} */

/* .footDiv {
    background-color: black;
    mix-blend-mode: multiply;
    width: 100%;
    height: 80%;
    padding: .5rem;
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: right;
    grid-template-columns: 1fr auto;
} */

h1 {
    font-size: 4rem;
    padding: .5rem;

}

h2 {
    font-size: 3rem;
    padding: .5rem;
}

h3 {
    font-size: 2.5rem;
    padding: .5rem;
}

h4 {
    font-size: 2rem;
    padding: .3rem;
}

h5 {
    font-size: 1.8rem;
    padding: .15rem;
}

.cursive {
    font-family: 'Tangerine', cursive;
}

.mont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.gold {
    color: rgb(153,129,0);
}

.sideBorder {
    border-left: 2px solid rgb(153,129,0);
    border-right: 2px solid rgb(153,129,0);
}

.border {
    padding: .5rem;
    display: grid;
    color: transparent;
}

.bold {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
}

p {
    width: 95%;
    font-size: 1.5rem;
;
}

.endorsements {
    display:grid;
    place-items: center;
    padding: 1rem;
}

.none {
    display: none;
}

.grid1 {
    display:grid;
    margin: 1rem;
    place-items: center;
    border-radius: 12px;
    width: 1020px;
    color:#0a1d3d;
}

.span1action {
    animation-name: spanOne;
    animation-duration: 30s;
}

@keyframes spanOne {
    0% {
        color: transparent;
    }
    10% {
        color:#0a1d3d;
    }
    90% {
        color:#0a1d3d;
    }
    100% {
        color: transparent;
    }
}

.span2action {
    animation-name: spanTwo;
    animation-duration: 30s;
}

@keyframes spanTwo {
    0% {
        color: transparent;
    }
    5% {
        color: transparent;
    }
    15% {
        color:#0a1d3d;
    }
    90% {
        color:#0a1d3d;
    }
    100% {
        color: transparent;
    }
}

.span3action {
    animation-name: spanThree;
    animation-duration: 30s;
}

@keyframes spanThree {
    0% {
        color: transparent;
    }
    15% {
        color: transparent;
    }
    25% {
        color:#0a1d3d;
    }
    50% {
        color:#0a1d3d;
    }
    60% {
        color: transparent;
    }
    100% {
        color: transparent;
    }
}

.span4action {
    animation-name: spanFour;
    animation-duration: 30s;
}

@keyframes spanFour {
    0% {
        color: transparent;
    }
    40% {
        color: transparent;
    }
    50% {
        color: #0a1d3d;
    }
    75% {
        color: #0a1d3d;
    }
    85% {
        color: transparent;
    }
    100% {
        color: transparent;
    }
}

.span5action {
    animation-name: spanFive;
    animation-duration: 30s;
}

@keyframes spanFive {
    0% {
        color: transparent;
    }
    60% {
        color: transparent;
    }
    70% {
        color: #0a1d3d;
    }
    95% {
        color: #0a1d3d;
    }
    100% {
        color: transparent;
    }
}

.sizeUp {
    animation-name: size28;
    animation-duration: 30s;
}

@keyframes size28 {
    0% {
        color: transparent;
    }
    15% {
        color: transparent;
    }
    25% {
        color:#0a1d3d;
    }
    50% {
        color:#0a1d3d;
    }
    85% {
        color: #0a1d3d;
    }
    100% {
        color: transparent;
    }
}

.container {
    display: grid;
    margin: 1em;
    width: 98%;
    place-items: center;
    grid-template-columns: auto auto;
}

footer {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    text-align: right;
    color:black;
    padding-bottom: 1rem;
}

.button {
    margin: 1rem;
    border-radius: 12px;
    padding: 1rem;
    border: 2px solid rgb(153,129,0);
    background-color: rgb(153,129,0);
    color: white;
    font-size: 28px;
}

.plain {
    text-decoration: none;
}