nav {
    padding: .5em;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto;
    border-bottom: 4px solid rgb(218,180,81);
    background-color: rgb(18, 44, 79);
}

.justifyLeft {
    justify-self: start;
}

img {
    width: 580px;
}

h5 {
    font-size: 1.2rem;
    padding: .15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.resize {
    width: 1040px;
}

.plain {
    text-decoration: none;
}

.gold {
    color: rgb(218,180,81);
}

footer {
    padding: .5em;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    border-top: 4px solid rgb(218,180,81);
    background-color: rgb(18, 44, 79);
    grid-row-start: 3;
    grid-row-end: 4;
}